
  .terms-headersection {
    color: #ffffff;
    background: transparent;
  }
  .question-count {
    color: #ffaa00;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px !important;
  }
  .question-box-main {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    opacity: 80%;
  }
 
  ion-textarea {
    background: rgba(255,255,255,0.2);
    border-radius: 10px !important;
    padding: 1%;
    margin: 3%;
    opacity: 80%;
    --placeholder-opacity: 100%;
    font-weight: bold;
    --placeholder-color: white;
  }
  
   
  ion-content {
    --background: url('../../assets/login-bg.svg') no-repeat 52% center/cover;
    text-align: center;
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    }
   
  
