<ion-header no-border class="header-fixed-top">
  <ion-toolbar class="top-global-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="response3"></ion-back-button>
    </ion-buttons>
    <ion-title
      class="top-fixed-heading uppercaes"
      [translate]="'MONPROFILEACTIVITY.Text1'"
    ></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="overall-content">
    <div class="top-black-block"></div>
    <div class="top-header-content">
      <div class="top-btn-toolbar">
        <ion-row>
          <ion-col class="ion-text-left" (click)="openListFollowers()">
            <div class="social-counterbox">
              <div
                *ngIf="!followerList"
                style="font-family: montserrat-medium; font-weight: bold"
                class="soc-count"
              >
                {{followers}}
              </div>
              <div
                *ngIf="!followerList"
                style="font-family: montserrat-medium; font-weight: bold"
                class="soc-counttxt"
                [translate]="'MONPROFILEACTIVITY.Text2'"
              ></div>
              <div
                *ngIf="followerList"
                style="
                  font-family: montserrat-medium;
                  font-weight: bold;
                  color: #d3c117;
                "
                class="soc-count"
              >
                {{followers}}
              </div>
              <div
                *ngIf="followerList"
                style="
                  font-family: montserrat-medium;
                  font-weight: bold;
                  color: #d3c117;
                "
                class="soc-counttxt"
                [translate]="'MONPROFILEACTIVITY.Text2'"
              ></div>
            </div>
            <div *ngIf="followerList" class="arrow-up"></div>
          </ion-col>
          <ion-col>
            <div class="profile-center">
              <img *ngIf="!Avatar" src="assets/images/profile-img.png" />
              <ion-avatar style="height: 100px; width: 100px" *ngIf="Avatar">
                <ion-img [src]="imgUrl"></ion-img>
              </ion-avatar>
              <div class="edit-pencilicon" (click)="presentActionSheet(1)">
                <img src="assets/images/edit-pencil.png" />
              </div>
            </div>
          </ion-col>
          <ion-col class="ion-text-right" (click)="openListFollowing()">
            <div class="social-counterbox">
              <div
                *ngIf="!followingList"
                style="font-family: montserrat-medium; font-weight: bold"
                class="soc-count"
              >
                {{following}}
              </div>
              <div
                *ngIf="!followingList"
                style="font-family: montserrat-medium; font-weight: bold"
                class="soc-counttxt"
                [translate]="'MONPROFILEACTIVITY.Text3'"
              ></div>
              <div
                *ngIf="followingList"
                style="
                  font-family: montserrat-medium;
                  font-weight: bold;
                  color: #d3c117;
                "
                class="soc-count"
              >
                {{following}}
              </div>
              <div
                *ngIf="followingList"
                style="
                  font-family: montserrat-medium;
                  font-weight: bold;
                  color: #d3c117;
                "
                class="soc-counttxt"
                [translate]="'MONPROFILEACTIVITY.Text3'"
              ></div>
            </div>
            <div *ngIf="followingList" class="arrow-up"></div>
          </ion-col>
        </ion-row>

        <ion-row
          style="
            text-align: center;
            color: #d3c117;
            display: flex;
            flex-direction: row;
            justify-content: center;
          "
        >
          <ion-title
            style="
              font-family: montserrat-medium;
              font-weight: bold;
              margin-top: 5%;
            "
            >{{name | titlecase}}</ion-title
          >
        </ion-row>
        <ion-row
          style="
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 2%;
          "
        >
          <small style="font-family: montserrat"
            >{{gender}} - {{age}}
            <span [translate]="'MONPROFILEACTIVITY.Text4'"></span
          ></small>
        </ion-row>

        <div class="top-tabs">
          <ion-row>
            <ion-col class="ion-no-padding" (click)="profile()">
              <div
                class="tabs-block uppercaes"
                [translate]="'MONPROFILEACTIVITY.Text5'"
              ></div>
            </ion-col>
            <ion-col class="ion-no-padding">
              <div
                class="tabs-block uppercaes selected-tabs"
                [translate]="'MONPROFILEACTIVITY.Text6'"
              ></div>
            </ion-col>

            <ion-col
              class="ion-no-padding"
              (click)="reviewPage()"
              *ngIf="userType==2"
            >
              <div
                style="font-family: montserrat-medium"
                class="tabs-block uppercaes"
                [translate]="'MONPROFILE.Text11'"
              ></div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <div class="profile-inner-block" *ngIf="!empty">
      <ion-list>
        <ion-row class="slide-toggle-row">
          <div class="togle-btn-countrow">
            <ion-icon name="arrow-down" class="toggle-icon"></ion-icon>
            <h5
              style="font-family: montserrat-medium; font-weight: bold"
              class="toggle-title uppercaes"
              [translate]="'MONPROFILEACTIVITY.Text7'"
            ></h5>
            <b
              style="font-family: montserrat-medium; font-weight: bold"
              class="toggle-count"
              >{{totalEvents}}</b
            >
          </div>
          <section class="gray-box" *ngFor="let detail of allEvents">
            <ion-row class="title-with-date" *ngIf="userType==='1'">
              <b class="title-txt">{{detail.event_individuals_title}}</b>
              <div class="date-txt">{{detail.event_individuals_date}}</div>
            </ion-row>
            <div class="iconswith-row" *ngIf="userType==='1'">
              <img
                class="location-img"
                src="assets/images/unselectedlocation.png"
              />
              <div class="details-box">
                {{detail.event_individuals_address}}
              </div>
            </div>
            <ion-row class="title-with-date" *ngIf="userType==='2'">
              <b class="title-txt">{{detail.event_coach_title}}</b>
              <div class="date-txt">{{detail.event_coach_date}}</div>
            </ion-row>
            <div class="iconswith-row" *ngIf="userType==='2'">
              <img
                class="location-img"
                src="assets/images/unselectedlocation.png"
              />
              <div class="details-box">{{detail.event_coach_address}}</div>
            </div>
          </section>
        </ion-row>
      </ion-list>
    </div>

    <div *ngIf="empty" style="display: flex; justify-content: center">
      {{message}}
    </div>
  </div>
</ion-content>
<ion-footer class="footer-fixed-tab">
  <ion-toolbar>
    <ion-buttons>
      <div class="footer-btn-tabs" (click)="events()">
        <img
          src="assets/images/unselectedlocation.png"
          class="footer-img-location"
        />
      </div>

      <div class="footer-btn-tabs" (click)="rankingDetails()">
        <img src="assets/rankiconunselected.svg" class="footer-img-location" />
      </div>

      <div class="footer-btn-tabs" (click)="manage()">
        <img
          src="assets/images/unselectedcalendar.png"
          class="footer-img-date"
        />
      </div>
      <div class="footer-btn-tabs" (click)="messages()">
        <img src="assets/images/unselectedmsg.png" class="footer-img-chat" />
        <div class="round" *ngIf="this.api.showMessageDot"></div>
      </div>
      <div class="footer-btn-tabs" (click)="notifications()">
        <img
          src="assets/images/unselectednotification.png"
          class="footer-img-noti"
        />
        <div class="round" *ngIf="this.api.showNotificationDot">
          {{notificationArray}}
        </div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
