.header-fixed-top {
  text-align: center;
  ion-toolbar {
    --background: #414141;
    --ion-color-base: #000000 !important;
    color: #ffffff;
  }

  .top-tabs
  {
    --background: #ffffff;
    --ion-color-base: #ffffff !important;
    color: #cccccc;
    position: relative;
    font-weight: bold;
    .tabs-block
    {
      position:relative;
    }
    .tabs-block:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      top: -19px;
      left: 0px;
    }
    .selected-tabs
    {
      color: #D3C117;
      font-weight: bold;
      font-family: "montserrat-medium;";
    }
    .selected-tabs:before {
      background: #D3C117;
    }
  }
}
.evenement-title
{
  font-size: 14px;
  text-align: center;
  color: #666666;
  margin: 10px 0px;
}

.card-evenement
{
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
  .det-head-withimg {
    position: relative;
    padding: 0px 0px 10px 33px;
    border-bottom: solid thin #e1e1e1;
    margin-bottom: 10px;
    .det-head-img {
      position: absolute;
      width: 40px !important;
      height: 40px;
      left: 0px;
      top: 0px;
    }
    .det-head-txt {
      display: inline-block;
      width: 100%;
      b {
        display: inline-block;
        width: 100%;
        font-size: 16px;
      }
    }
    .det-close {
      position: absolute;
      right: 0px;
      font-size: 24px;
      top: 0px;
      line-height: 20px;
      .mes-status
      {
        width: 100%;
        padding-left: 15px;
        position: relative;
        color: #666666;
        text-align: right;
        font-size: 12px;
      }
      .mes-status:before{
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0px;
        top: 4px;
        background: #ffab00;
      }
    }
  }
  .evenement-subtitle
  {
    border-bottom: solid thin #e1e1e1;
    min-height: 40px;
    margin-bottom: 10px;
  }
  .evenment-submit-button
  {
    float: right;
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: capitalize;
    background-color: #D3C117;
    color: white;
  }
  .card-title {
    display: inline-block;
    font-size: 16px;
  }
  .evenement-card-content
  {
    border-radius: 10px;
    padding-bottom: 0px;
    .iconswith-row
    {
      position: relative;
      padding-left: 30px;
      text-align: left;
      width: 100%;
      min-height: 30px;
      margin-bottom: 5px;
    }
    .iconswith-row img{
      position: absolute;
      width: 20px;
      left: 0px;
    }
    .time-img
    {
      width: 18px !important;
    }
    .location-img
    {
      width: 16px !important;
    }
  }
}


.card-coach {
  margin-top: 10px;
  text-align: center;
  position: relative;
  background: #F8F8F8;
  padding: 15px 0px 20px 0px;
  overflow: initial;
  margin-bottom: 35px !important;
  .amount-engagement {
    display: inline-block;
  }

  .peramt-box {
    margin-bottom: 10px;
    color: #a9a9a9;
    margin-top: -3px;
  }

  .engage-radio-box ion-radio {
    margin-right: 10px;
  }

  .buttonbox-cardouter {
    position: absolute;
    z-index: 10;
    left: calc(50% - 85px);
    bottom: -20px;
  }
  .label-withterms a {
    color: #525252;
    text-decoration: underline;
  }
  .engage-radio-box {
    background: #f5f5f5;
    radio {
      color: #000000;
    }
  }
}

.circle{
  height: 10px;
  width: 10px;
  background-color: #ffab00;
  border-radius: 50%;
  display: inline-block;
}

.footer-fixed-tab {
  background: #414141;
  width: 100%;
  padding: 0px 5%;
  ion-toolbar {
    --background: #414141;
    --ion-color-base: #000000 !important;
    color: #ffffff;
    .footer-btn-tabs {
      width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
    --background: transparent;
    position: relative;
      img {
        width: 50%;
      }
      .round{
        height: 15px;
        width: 15px;
        background-color: #D3C117;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 50px;
        top: 15px;
        font-size: 12px;
        justify-content: center;
        font-weight: bold;
        color: white;
      }
    }
  }
}