.map-content
{
  .map-block{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .google-map{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .plus-icon-box{
    position: absolute;
    z-index: 100000;
    width: 50px;
    height: 50px;
    bottom: 60px;
    right: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    border-radius: 50%;
  }
  .map-search-box {
    position: absolute;
    z-index: 100000;
    width: 96%;
    top: 30px;
    left: 2%;
    .map-search-withrow
    {
      position: relative;
      width: 100%;
      .search-box
      {
        width: calc(100%);
        display: inline-block;
        .searchbar-input-container{
          input{
            border-radius: 30px !important;
          }
        }
        .searchbar-input
        {
          border-radius: 30px !important;
        }

      }
      .search-profile-box {
        width: 50px;
        display: inline-block;
        float: right;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        border-radius: 50%;
        border: solid 3px #ffffff;
        background: #f5f5f5;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .popup-profile {
        position: absolute;
        background: #ffffff;
        right: 0px;
        top: 50px;
        transition: .5s all;
        border-radius: 0px 0px 10px 10px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        .profile-option-ul {
          list-style: none;
          margin: 0px;
          font-size: 14px;
          padding: 5px 15px 0px 15px;
          color: #666666;
          li {
            width: 100%;
            padding: 8px 0px;
            border-bottom: solid thin #e1e1e1;
          }
        }
      }
    }

  }
  .map-det-popup {
    position: absolute;
    z-index: 100000;
    width: 96%;
    top: 75px;
    left: 2%;
    ion-card {
      background: #ffffff;
    }
    .det-head-withimg {
      position: relative;
      padding: 0px 20px 5px 50px;
      border-bottom: solid thin #e1e1e1;
      .det-head-img {
        position: absolute;
        width: 40px !important;
        height: 40px;
        left: 0px;
        top: 0px;
      }
      .det-head-txt {
        display: inline-block;
        width: 100%;
        b {
          display: inline-block;
          width: 100%;
          font-size: 18px;
        }
      }
      .det-close {
        position: absolute;
        right: 0px;
        font-size: 24px;
        top: 0px;
        line-height: 20px;
      }
    }
    .det-submit-button{
      float: right;
      height: 30px;
      font-size: 14px;
      padding: 5px 10px;
      text-transform: capitalize;
      width: 48%;
      margin: 0px 1%;
      text-align: center;
      .btn-img
      {
        width: 15px;
        margin-right: 5px;
        display: inline-block;
      }
    }
    .det-footer-row {
      padding: 0px 10px;
      text-align: center;
      b{
        text-align: center;
        width: 100%;
        margin: 10px 0px 0px;
        font-size: 16px;
      }
      p {
        margin: 5px 0px;
      }
    }
    .iconswith-row{
      position: relative;
      padding-left: 30px;
      text-align: left;
      width: 100%;
      min-height: 30px;
      margin-bottom: 5px;
    }
    .iconswith-row img{
      position: absolute;
      width: 20px;
      left: 0px;
    }
    .time-img{
      width: 18px !important;
    }
    .location-img{
      width: 16px !important;
    }
  }
  .bottom-tab{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    .two-tabs{
      display: inline-block;
      width: 100%;
      background: #6B6B6B;
      --background: #6B6B6B;
      --ion-color-base: #6B6B6B!important;
      color: #cccccc;
      position: relative;
      padding: 10px 10%;
      text-align: center;
      line-height: 30px;
      .tabs-block {
        position: relative;
        text-transform: capitalize;
      }
      .tabs-block:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -13px;
        left: 0px;
        background: #cccccc;
      }
      .selected-tabs {
        color: #ffaa00;
      }
      .selected-tabs:before {
        background: #ffaa00;
      }
    }
  }
  .bg-trans {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    color: #ffffff;
    padding: 50px;
    position: fixed;
    top: 0px;
    z-index: 100000;
    font-size: 18px;
    ion-title
    {
      font-size: 18px;
      text-align: center;
      margin-bottom: 15px;
      padding: 0px 50px;
    }
  }
}
.footer-fixed-tab {
  background: #414141;
  width: 100%;
  padding: 0px 5%;
  ion-toolbar {
    --background: #414141;
    --ion-color-base: #000000 !important;
    color: #ffffff;
    .footer-btn-tabs {
      width: 25%;
      float: left;
      text-align: center;
      padding: 15px;
      --background: transparent;
      img {
        width: 35px;
      }
    }
  }
}