.started-row {
  width: 94%;
  margin-left: 3%;
  margin-top: 20px;
  ion-label {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  .textwith-label {
    padding: 10px 0px;
    border-bottom: solid thin #cccccc;
    ion-input {
      display: inline-block;
      text-align: left !important;
      background: transparent;
      border: none;
      font-size: 18px;
      padding-left: 0px;
      color: #cccccc;
      margin-top: 3px;
      --placeholder-color: #ffffff;
      input {
        text-align: left;
        margin: 0px;
        margin-top: 8px;
        font-weight: initial;
        --placeholder-color: #ffffff;
      }
    }
  }
  .started_txt {
    max-width: 30px;
    width: 30px;
    margin: 0px;
    padding: 12px 0px 0px 0px;
    height: auto;
    font-size: 16px;
  }
  .started_txt img {
    width: 20px;
  }
  small {
    font-size: 16px;
    color: #cccccc;
    margin: 10px auto;
    text-align: center;
    border-bottom: solid thin #7b7b7b;
  }
  .login-button {
    width: 55%;
    margin: 30px auto 15px auto;
  }
  .ios .login-button {
    width: 55%;
    margin: 30px auto 15px auto;
  }
}

.started-row {
  width: 100%;
  ion-label {
    font-size: 20px;
    text-transform: uppercase;
  }
  .started_txt {
    max-width: 40px;
    width: 40px;
    margin: 0px;
    padding: 12px 0px 0px 0px;
    height: auto;
    font-size: 16px;
  }
  .center-head {
    font-size: 24px !important;
    color: #ffffff;
    margin: 30px auto 10px auto;
    text-align: center;
    font-weight: initial;
  }
  .inscription-login-button {
    width: 180px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 20px;
    margin: 15px auto;
  }
}

.bg-image-full {
  // if content does not occupy whole height then it shows white bg at bottom

  min-height: 100%;

  background: url('../../assets/images/login-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  // background: url('../../assets/images/login-bg.png') 0 0/100% 100% no-repeat;
}
// ion-content {
//   --background: none;
//   background: url('../../assets/images/login-bg.png');
//   background-size: cover;
//   background-position: top center;
// }
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
.question-count {
  color: #ffaa00;
  margin-bottom: 10px;
  font-size: 18px !important;
  text-align: center;
}
