<ion-content fullscreen forceOverscroll="false">
  <ion-header no-border slot="fixed">
    <ion-toolbar class="terms-headersection">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="connexion"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div
    class="bg-image-full"
    style="display: flex; align-items: center; justify-content: center"
  >
    <section>
      <div>
        <ion-row>
          <ion-col class="login-logocenter">
            <img style="padding: 0% 10% 0% 10%" src="assets/images/logo.png" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            style="font-family: montserrat-medium"
            class="question-count"
            [translate]="'FORGOTPASS.Text1'"
          ></ion-col>
        </ion-row>
        <div class="started-row fade">
          <ion-row class="textwith-label">
            <ion-label color="gray" class="started_txt">
              <img src="assets/images/message.png" />
            </ion-label>
            <ion-input
              type="email"
              placeholder="Email"
              [(ngModel)]="email"
            ></ion-input>
          </ion-row>

          <ion-row>
            <button
              (click)="forgetpassword()"
              ion-button
              class="global-btn themecolor login-button"
              [translate]="'FORGOTPASS.Text2'"
            ></button>
          </ion-row>
        </div>
      </div>
    </section>
  </div>
</ion-content>
